{% extends 'base.html' %}
{% block title %}Construction planner - About{% endblock %}
{% block body %}
  	<!-- start service -->
      <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">ABOUT <span>CONSTRUCTION</span> PLANNER</h2>
                </div>
                <div class="col-md-12 acyive wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-laptop"></i>
                    <h4>About</h4>
                   

             
                    <p>The construction industry is an integral part of the economy and increasingly invloves many tasks and activities that  require scheduling and cordination .
                      construction planner is an online appointment scheduling solution that helps construction bussiness streamline their operations and save time.
                    by using construction planner business can communicate with clients efficiently, increase productivity, and esily manage customer relationships.
                  additionally offers affordable pricing, a user fridenly interface and helpful reporting and analytics </p>
                  <br>
                  <p>construction planner is a business roots have grown steadily for years the platfrom has bulit a deep connection with the people of kerala.
                    though over<span> 100 </span>projects that have delighted more than <span>200</span> homeowners all over kerala   <img src="static/aboutpic/images.jpeg" alt="Smiley face" width="100" height="100" style="vertical-align:right"> </p>
                  
                </div>
                <div class="container">
                  <div class="row">
                    <h2><span>key Takeaways</span></h2>
                    <li> - Onile appointment scheduling streamlines the booking process for architects, designers and contractors and clients.</li>
                    <li> - It improves efficiency, reduces workload, and enchances communication and organization.</li>
                    <li> - clients can easily book appointments at their covinenice, and architectes, designers and contractors can manage appointments
                      from any where</li>
                    <li> - online scheduling also offers features suchas customization, payment processing, and data collection.</li>
                    <li> - It provides flexibility and covinenice for managing appointments on the go.</li>



                    <div class="container"><br>
    
    
                      <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped " style="width:75%">new projects</div>
                          </div><br>
                    
                      <div class="progress">
                    <div class="progress-bar  bg-warning progress-bar-striped" style="width:60%">ongoing projects</div>
                      </div><br>
                      <div class="progress">
                        <div class="progress-bar  bg-success progress-bar-striped " style="width:85%">completed projects</div>
                          </div><br>

    

              </section>


    <!-- end servie -->
{% endblock %}