{% extends 'base.html' %}
{% block title %}Construction planner - About{% endblock %}
{% block body %}

<!-- start service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">ABOUT <span>CONSTRUCTION</span> PLANNER</h2>
            </div>
            <div class="col-md-12 acyive wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <i class="fa fa-phone"></i>
                <h4>contactus</h4>
               <p> for contact numbers of architectures. designers and contractors are seperately given in their profile
                in case of any enqiry or compliants about of services and updated by user.our team will be always there for support you
               </p>
               <h4>emergency contact - 9475877701</h4>
            </div>
               
               <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
              
                    <p class="title">YOU CAN CONTACT US</p>
                                       <p><i class="fa fa-phone"></i> 9232141107</p>
                    <p><i class="fa fa-phone"></i> 9748741210</p>
               </div>
                    <p>we keep a seperste team for maintaning user requirements which ensures the trancerency between the user and our team</p>
                   <h4>
                    <li>DEEP CLEANING --7485123070,7844147012</li>
                    <li>RENNOVATION --9874576103,6862646990</li>
                   
                    <li>INTERIOR DESIGN --9638527417</li>
                    <li>PAINTING -- 7896574571,6867648741</li>

                   </h4>
               



            </div>
            </div>
        </section>

{% endblock %}