{% extends 'base.html' %}
{% block title %}Construction planner - Services{% endblock %}
{% block body %}
<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>SERVICES</span></h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">DEEP CLEANNING</h3>
                    </div>
                    <div class="media-body">
                        <p> Construction planner also provides various services like deep cleanining seperate team is maintained for all the services and all the services are budget friendly
                            deep cleaning well trained team is maintained, make the house perfect after cleaning with in hours with in a low bu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">RENNOVATION</h3>
                    </div>
                    <div class="media-body">
                        <p>
                            our team rennovate complete users ideas into reality within  customers budget within minimum span of time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">ARCHITECTURE</h3>
                    </div>
                    <div class="media-body">
                        <p>construction planner provides a huge number of experienced and fresh  architects from them user can select their architects and request them for the work.user can select the works aof architecte from the proojects.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">DESIGN</h3>
                    </div>
                    <div class="media-body">
                        <p>Different designers help the customers to make the perfect fream home its the right palce for them our  designers make your dream home into a real one.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">INTERIOR DESIGN</h3>
                    </div>
                    <div class="media-body">
                        <p>Apart from booking architect, designer and contractors construction planner also provides seperate services. key feature is a small portion of house can be
                            can be made more elegent with our team our team helps to make reality of customers concept
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="media-heading">PAINTING</h3>
                    </div>
                    <div class="media-body">
                        <p>construction planner extra service painting entire house which helps to change the look of the entire house.painting service uses modern needs such as texture putty includes liquid texters seperate for internal  and external looks and providdes wall painting take references from user
                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->
{% endblock %}